<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>docker.spenc.home</RegistryUrl>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ff275b1b-1c2e-43a9-8459-092ad65edaa2</ProjectGuid>
    <_TargetId>DockerCustomContainerRegistry</_TargetId>
    <AutoGenerateImageTag>true</AutoGenerateImageTag>
  </PropertyGroup>
</Project>