@page
@model IndexModel
@{
    ViewData["Title"] = "DateTime Conversion Tools";
}
<form id="convertForm" method="post" class="pico">
    <h2>Conversion</h2>
    <div class="grid">
        <div>
            <input type="text" id="dateEntry" name="dateEntry" placeholder="Date/Time" aria-label="Date/Time:">
        </div>
        <div><input type="number" id="ticksEntry" name="ticksEntry" placeholder="Ticks" aria-label="Ticks:"></div>
        <div>
            <select id="timeZoneSelect" aria-label="Timezone">
                @{
                        var index = 0;
                 }    
                    @foreach (var tz in Model.SupportedTimeZones)
                    {
                        var selected = ++index == 1 ? "SELECTED" : null; 
                        <option value="@tz" selected="@selected">@tz</option>
			        }
            </select>
        </div>
        <div>
            <input id="convertButton" type="button" value="Convert" onclick="javascript:convert()"/>
        </div>
    </div>
    <br />
    <div class="now-row">
        <h2>Now</h2>
        <img src="refresh.png" alt="Refresh" height="22" width="22" onclick="getNows()"/>
    </div>
    <div class="grid">
        <div><strong>TimeZone</strong></div>
        <div><strong>Now</strong></div>
    </div>

    <span id="nowResult">

    </span>

</form>


@section Scripts {
    <script src="~/js/indexCtrl.js" asp-append-version="true"></script>
}