<script src="/js/historyCtrl.js" asp-append-version="true"></script>
<dialog id="historyModal">
    <article>
        <header>
            <!-- this is refershing the parent window causing problems and losing data  -->
            <button aria-label="Close" rel="prev"></button>
            <p>
                <strong>🗓️ History</strong>
            </p>
        </header>
        <ul id="historyCollectionContainer">
            
        </ul>
    </article>
</dialog>
